{% extends "mail/layout.html" %} {% load static %} {% block body %}
<h2>{{ request.user.email }}</h2>

<button class="btn btn-md btn-outline-primary" id="inbox">Inbox</button>
<button class="btn btn-md btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-md btn-outline-primary" id="sent">Sent</button>
<button class="btn btn-md btn-outline-primary" id="archive">Archived</button>
<a class="btn btn-md btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr />
<div id="single-email-view">
    <div class="card">
        <div class="card-body">
            <h5 id="email-subject" class="card-title">Subject: <span></span></h5>
            <h6 id="email-sender" class="card-subtitle mb-2 text-muted">
                From: <span></span>
            </h6>
            <h6 id="email-recepients" class="card-subtitle mb-2 text-muted">
                To: <span></span>
            </h6>
            <h6 id="email-timestamp" class="card-subtitle mb-2 text-muted">
                When: <span></span>
            </h6>
            <div class="reply-text card-text"></div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button id="reply-button" class="btn btn-primary mx-2">Reply</button>
                <button id="archive-button" class="btn btn-secondary"></button>
            </div>
        </div>
    </div>
</div>
<div id="mailbox-view">
    <h3></h3>
    <div id="empty-mailbox-alert" class="alert alert-secondary" role="alert" style="display: none">
        The mailbox is empty
    </div>
    <table id="mailbox-content" class="table table-bordered" style="display: none">
        <thead class="table-secondary">
            <tr>
                <th>From</th>
                <th>Subject</th>
                <th>When</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="compose-view">
    <h3>New Email</h3>
    <form id="compose-form">
        <div class="form-group">
            From:
            <input disabled class="form-control" value="{{ request.user.email }}" />
        </div>
        <div class="form-group">
            To: <input id="compose-recipients" class="form-control" />
        </div>
        <div class="form-group">
            <input class="form-control" id="compose-subject" placeholder="Subject" />
        </div>
        <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
        <input type="submit" class="btn btn-primary mt-3" value="Send" />
    </form>
</div>
{% endblock %} {% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}